<div class="container mt-4">
  <h2>Categorías</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categoria of categorias">
        <td>{{ categoria.idCategoria }}</td>
        <td>{{ categoria.nombreCategoria }}</td>
        <td>{{ categoria.descripcionCategoria }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Productos</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Existencia</th>
        <th>Precio</th>
        <th>ID Categoría</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.idProducto }}</td>
        <td>{{ producto.nombreProducto }}</td>
        <td>{{ producto.descripcionProducto }}</td>
        <td>{{ producto.existenciaProducto }}</td>
        <td>{{ producto.precioProducto }}</td>
        <td>{{ producto.idCategoria }}</td>
      </tr>
    </tbody>
  </table>
</div>
